.voltar {
    color: #000000;
    background-color: #FFFFFF;
    margin-right: 2%;
}

.voltar:hover {
    background-color: #F2F2F2;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.6);}

.titulo {
    background-color: transparent;
    margin: 40px 5% 20px 0;
    font-size: 30px;
}

/* ----- FORM ----- */
form {
    margin: 0px 6%;
    font-size: 17px;
}

mat-form-field {
    margin:0 0.5%;
}

#nome {
    width: 99%;
}
#logradouro {
    width: 59%;
}
#cidade {
    width: 49%;
}
#email, #bairro, #cep {
    width: 39%;
}
#telefone {
    width: 34%;
}
#cnpj {
    width: 24%;
}
#uf {
    width: 9%;
}

div {
    float: right;
}

.submit {
    font-size: 17px;
    border-radius: 0;
}
.submit:hover {
    background-color: #01518F;
}

.reset {
    margin:0 5px 0 10px;
    font-size: 17px;
    border-radius: 0;
    padding: 0 21.5px;
}
.reset:hover {
    background-color: #9C1111;
}

