<mat-toolbar class="titulo">
    <button mat-mini-fab class="voltar" [routerLink]="['/fornecedores']"><mat-icon>arrow_back</mat-icon></button>
    Cadastro de fornecedores
</mat-toolbar>

<form [formGroup]="formulario" (ngSubmit)="salvarFornecedor()" autocomplete="off" > <!--autocomplete faz sugestão de preenchimento dos campos-->
    
    <mat-form-field color="primary" id="nome">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nomeEmpresa" placeholder="Nome do fornecedor" required/>
    </mat-form-field>

    <mat-form-field color="primary" id="email">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" placeholder="E-mail do fornecedor" required/>
    </mat-form-field>

    <mat-form-field color="primary" id="cnpj">
        <mat-label>CNPJ</mat-label>
        <input matInput #cnpj maxlength="14" formControlName="cnpj" placeholder="Ex: 99888777666655" required/> <!--[textMask]="{mask: cnpjMask, guide: false}"-->
        <mat-hint align="start">Somente números</mat-hint>
    <mat-hint align="end">{{cnpj.value.length}} / 14</mat-hint>
    </mat-form-field>

    <mat-form-field color="primary" id="telefone">
        <mat-label>Telefone</mat-label>
        <input matInput #telefone maxlength="10" formControlName="telefone" placeholder="Ex: 6136696669" required/> <!--[textMask]="{mask: telefoneMask, guide: false}"-->
        <mat-hint align="start">DDD + número de telefone fixo. Somente números</mat-hint>
    <mat-hint align="end">{{telefone.value.length}} / 10</mat-hint>
    </mat-form-field>

    <mat-form-field color="primary" id="cep">
        <mat-label>CEP</mat-label>
        <input matInput #cep maxlength="9" formControlName="cep" (blur)="consultaCEP()" placeholder="00000-000" required/> <!--[textMask]="{mask: cepMask, guide: false}"-->
        <mat-hint align="start">CEP com traço</mat-hint>
    <mat-hint align="end">{{cep.value.length}} / 9</mat-hint>
    </mat-form-field>

    <mat-form-field color="primary" id="logradouro">
        <mat-label>Logradouro</mat-label>
        <input matInput formControlName="logradouro" placeholder="Ex: 2ª Avenida, lote 287" required/>
    </mat-form-field>

    <mat-form-field color="primary" id="bairro">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="bairro" placeholder="Ex: Asa Norte" required/>
    </mat-form-field>

    <mat-form-field color="primary" id="cidade">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="cidade" placeholder="Ex: Brasília" required/>
    </mat-form-field>

    <mat-form-field color="primary" id="uf">
        <mat-label>UF</mat-label>
        <input matInput formControlName="uf" placeholder="Ex: DF" required/>
    </mat-form-field>

    <div>
        <button class="submit" type="submit" mat-raised-button color="primary">Cadastrar</button>
        <button class="reset" type="button" mat-raised-button color="warn" (click)="resetar()">Resetar</button>
    </div>

</form>



